# Logs y salidas
logs/
__pycache__/
*.pyc
datos/
# Virtualenvs o caches
.venv/
.mypy_cache/
.pytest_cache/
.cache/

# Docker
*.pid
*.sock
*.db
*~ 


dev/

# Referencias no modificables
/arbitraje-binance/motor_data_refinery/precalificador_primario/
